@import './colors';

.content-holder {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
}


.button-holder {
    width: 100%;

    div {
        flex: 1 1 50%;
        text-align: center;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.around-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type='submit'] {
    background-color: $blue;
    padding: 10px 30px;
    border: none;
    outline: none;
    color: white;
}